window.__env = {
  // Firebase Configuration
  // Get these from: https://console.firebase.google.com
  FIREBASE_API_KEY:         '',
  FIREBASE_AUTH_DOMAIN:     'myproject.firebaseapp.com',
  FIREBASE_DATABASE_URL:    'https://<MY_PROJECT>.firebaseio.com',
  FIREBASE_PROJECT_ID:      '<MY_PROJECT>-12345',
  FIREBASE_STORAGE_BUCKET:  '<MY_PROJECT>.appspot.com',
  FIREBASE_MESSAGING_SENDER_ID: '',
  FIREBASE_APP_ID:          ''
};
